@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=MonteCarlo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
        font-family: 'Montserrat', sans-serif;
    }
}